*.exe
*.override.yml
pd-api-service
pd-api-service.exe
prldevops
prldevops.exe
data.json
*.sql
/out/*
.local/*
__debug_*
/vagrant
*.key
.env
**/*.local.*
**/*.pem
.DS_Store
**/pd-devops
bin/
coverage/
super-linter.log
demo/
_site/
.vscode/
*.log.*
*.log
commit.msg
.cache/