apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm.fullname" . }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.security.key }}
  ENCRYPTION_PRIVATE_KEY: {{ .Values.security.encryption_private_key | b64enc }}
  {{- end }}
  {{- if .Values.security.root_password }}
  SECURITY_ROOT_PASSWORD: {{ .Values.security.root_password | b64enc }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  TLS_CERTIFICATE: {{ .Values.ingress.tls.certificate  | quote }}
  TLS_PRIVATE_KEY: {{ .Values.ingress.tls.privateKey  | quote }}
  {{- end }}
  {{- if .Values.ingress.basicAuth }}
  {{- end }}
  {{- if .Values.security.jwt.rsa_private_key }}
  JWT_PRIVATE_KEY: {{ .Values.security.jwt.rsa_private_key  | b64enc }}
  {{- end }}
  {{- if .Values.security.jwt.hmac_secret }}
  JWT_HMACS_SECRET: {{ .Values.security.jwt.hmac_secret | b64enc }}
  {{- end }}