.github_source_header {
  display: none;
  max-width: 11.7rem;
  color: #000;

  @media screen and (min-width: $m-breakpoint) {
    display: flex;
  }

  @media screen and (min-width: $l-breakpoint) {
    display: flex;
  }


  @media screen and (min-width: $xl-breakpoint) {
    display: flex;
  }

  &:hover {
    opacity: 0.7;
  }

  a {
    color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 0.95rem;
    line-height: 1.2;
    transition: opacity 0.25s;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .github_icon {
    font-size: 2rem;
  }

  .source_facts {
    display: flex;
    font-size: 0.75rem;
    gap: 0.4rem;
    list-style-type: none;
    margin: 0.1rem 0 0;
    opacity: 0.85;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  .source_facts_container {
    animation: facts 0.25s ease-in;
  }

  .source_fact {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
  }

  .source_facts_container .source_fact {
    animation: fact 0.4s ease-out;
  }

  .source_fact:before {
    background-color: currentcolor;
    content: "";
    display: inline-block;
    height: 0.9rem;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    vertical-align: text-top;
    width: 0.9rem;
    margin-right: 0.2rem;
  }

  .source_fact:nth-child(1n + 2) {
    flex-shrink: 0;
  }

  .source_fact--version:before {
    -webkit-mask-image: $version-icon;
    mask-image: $version-icon;
  }

  .source_fact--stars:before {
    -webkit-mask-image: $stars-icon;
    font-size: 6rem;
    mask-image: $stars-icon;
  }

  .source_fact--forks:before {
    -webkit-mask-image: $forks-icon;
    mask-image: $forks-icon;
  }

  .source_fact--repositories:before {
    -webkit-mask-image: $repositories-icon;
    mask-image: $repositories-icon;
  }
}

.github_source {
  color: #000;
  display: inline-block;
  max-width: calc(100% - 1.2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

@keyframes facts {
  0% {
    height: 0;
  }

  to {
    height: 0.65rem;
  }
}

@keyframes fact {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gh-sponsor {
  color: #ea4aaa;
}