.callout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;

  .callout-item {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 300px;
    border-radius: $button-border-radius;
    background-color: #fff;
    height: 100%;

    &.no-link {
      background-color: #fff;

      .callout-body {
        height: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: $button-border-radius;
        border: 1px solid #e5e5e5;
        display: flex;
        flex-direction: column;

        &:hover {
          background-color: rgba($color: #000000, $alpha: .1)
        }
      }
    }

    &.link {
      a {
        height: 100%;
        padding: 30px;
        border-radius: $button-border-radius;
        border: 1px solid #e5e5e5;

        &:hover {
          background-color: rgba($color: #000000, $alpha: .1)
        }
      }
    }

    .callout-icon {
      padding: 5px;

      &.font-icon {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
      }

      img {
        height: 48px;
        width: 48px;
      }
    }

    .callout-body-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 1;

      .title {
        font-family: "Open Sans";
        font-weight: bold;
        color: #363636;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.125;
      }

      .description {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #303236;
      }
    }


    .callout-action {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-top: 29px;

      @media screen and (max-width: $small-breakpoint) {
        margin-top: 4px;
      }

      .callout-action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #3d73d8;

        i {
          margin-left: 0.5rem;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #3d73d8;
        }
      }
    }
  }
}