.footer {
  padding: 28px 32px 34px 44px;
  background-color: hsl(0, 0%, 96%);
  min-height: 92px;
  width: 100%;

  .footer-container {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 336;
    width: 100%;

    @media screen and (min-width: $small-breakpoint) {
      max-width: 560px;
      min-width: 560px;
    }

    @media screen and (min-width: $medium-breakpoint) {
      max-width: 632px;
      min-width: 632px;
    }

    @media screen and (min-width: $max-breakpoint) {
      max-width: 760px;
      min-width: 760px;
    }

    &.homepage {
      @media screen and (min-width: $tiny-breakpoint) {
        max-width: unset;
        min-width: none;
        width: 100%;
      }

      @media screen and (min-width: $max-breakpoint) {
        max-width: 1200px;
      }
    }

    &.with-menu-bar {
      @media screen and (min-width: $medium-breakpoint) {
        max-width: calc(560px + 200px + 16px);
        min-width: calc(560px + 200px + 16px);
      }

      @media screen and (min-width: $max-breakpoint) {
        max-width: calc(760px + 232px + 32px);
        min-width: calc(760px + 232px + 32px);
      }
    }

    &.with-side-toc {
      @media screen and (min-width: $medium-breakpoint) {
        max-width: calc(560px + 200px + 16px);
        min-width: calc(560px + 200px + 16px);
      }

      @media screen and (min-width: $max-breakpoint) {
        max-width: calc(760px + 232px + 32px);
        min-width: calc(760px + 232px + 32px);
      }
    }


    .prl-spacer {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .copyright {
      display: flex;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: end;
      }
    }

    .logo-container {
      display: flex;
      align-items: center;
      margin-right: 20px;

      @media screen and (max-width: 768px) {
        align-items: flex-start;
        margin-right: 0 !important;
        flex-direction: column;
      }

      .footer-alludo-icon {
        fill: #7b7d85;
      }

      svg {
        width: 132px;
        height: 24px;
        margin-left: 6px;
        margin-bottom: 15px;

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }
      }


      .logo {
        font-size: 20px;
        font-weight: 800;
        color: #7b7d85;
      }


    }
  }
}