@media screen and (min-width: 769px) {
  .hero.is-medium .hero-body {
    padding: 2rem 4rem !important;
  }
}


.hero-section {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff, #f6f6f6);
  padding-bottom: 36px;

  &.hero-home-section {
    justify-content: center;
  }

  .hero-container {
    width: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: padding 0.3s ease-in-out, max-width 0.3s ease-in-out;

    @media screen and (max-width: 1200px) {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and (max-width: 980px) {
      width: 100%;
      max-width: unset;
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

    }

    .hero-column {
      width: 980px;
      max-width: 980px;

      @media screen and (max-width: 1200px) {
        width: 100%;

      }

      @media screen and (max-width: 980px) {
        width: 100%;
        max-width: unset;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &.hero-home-section {
      max-width: 768px;
      align-items: center;
      justify-content: center;
      padding: 32px 0 0 0;
    }

    .hero-title {
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;

      &.hero-home-section {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .hero-text-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: start;
        transition: margin 0.2s ease-in-out;
        width: 100%;

        &.hero-home-section {
          align-items: center;
        }

        .hero-title {
          font-family: 'Open Sans';
          font-size: 40px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.28;
          letter-spacing: normal;
          padding-bottom: 4px;


          &.home-title {
            text-align: center;
          }

          @media screen and (max-width: 768px) {
            font-size: 32px;

            &.home-subtitle {
              font-size: 50px;
            }
          }
        }

        .hero-subtitle {
          font-family: 'Open Sans';
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.28;
          letter-spacing: normal;
          font-size: 20px;

          &.home-subtitle {
            font-size: 50px;
            text-align: center;
          }

          @media screen and (max-width: 768px) {
            font-size: 20px;

            &.home-subtitle {
              font-size: 32px;
              padding: 0 60px;
            }
          }
        }
      }
    }

    .hero-link {
      margin-top: 10px;
      font-family: 'Open Sans';
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.28;
      letter-spacing: normal;
      font-size: 20px;

      i {
        margin-left: 8px;
      }
    }
  }

  &:first-of-type {
    margin-top: 95px;
    padding-top: unset;
  }

  &.hero-home-section {
    padding-bottom: 75px;

    @media screen and (max-width: 768px) {
      padding-bottom: 0px;
    }
  }




  .hero-callout {
    padding-top: 53px;
    padding-left: 20px;
    padding-right: 20px;

    .hero-callout-body {
      font-family: 'Open Sans';
      // padding: 0px 43px;

      .hero-callout-container {
        @media screen and (max-width: 768px) {
          padding-bottom: 40px;
        }

        .hero-callout-columns {
          justify-content: space-evenly;

          .column {
            min-width: 240px;
          }
        }
      }


      .columns {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          align-items: start;
          max-width: unset;
        }
      }

      .column {
        max-width: 315px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 768px) {
          flex-direction: row;
          align-items: start;
          max-width: unset;

        }

        .pr-callout-icon {
          width: 3em;
          height: 3rem;
          padding-bottom: 14px;

          img {
            width: 25px;
            height: 25px;
          }
        }

        .callout-body-container {
          display: flex;
          flex-direction: column;
          align-items: center;


          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: unset;
            margin-left: 28px;
          }

          .title {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #303236;
            margin-bottom: 0;
          }

          .subtitle {
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #303236;
            margin-top: 8px;
            margin-bottom: 0;

            @media screen and (max-width: 768px) {
              margin-top: 4px;
            }
          }

          .description {
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #7b7d85;
            margin-top: 8px;
            margin-bottom: 0;

            @media screen and (max-width: 768px) {
              margin-top: 4px;
            }
          }

          .callout-action {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 29px;

            @media screen and (max-width: 768px) {
              margin-top: 4px;
            }

            .callout-action-button {
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: 'Open Sans';
              font-size: 16px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #3d73d8;

              i {
                margin-left: 0.5rem;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #3d73d8;
              }
            }
          }
        }
      }

    }
  }

}