@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Open Sans';
$primary: #A7AEB5 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;
$dark: #363636;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;



@import "../node_modules/bulma-block-list/src/block-list.scss";
@import "_variables";
@import "layout";
@import "_hero";
@import "_syntax";
@import "showcase";
@import "_api";
@import "tabs";
@import "buttons";
@import "notifications";
@import "menu-bar";
@import "page-toc";
@import "navbar";
@import "footer";
@import "blogs";
@import "_homepage";
@import "_callout";
@import "_header";
@import "cookie-consent";



.index_release {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}