@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #A7AEB5 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;
$dark: #363636;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "hero";
@import "syntax";
@import "showcase";
@import "api";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}

.tab-container {
  padding: 0 2.5rem;
}


.footer {
  border-top: #A7AEB5 solid 1px;
}

.big_padding {
  padding: 2rem 16rem !important;
}