@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Open Sans';
$primary: #A7AEB5 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;
$dark: #363636;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

$max-breakpoint: 1200px;
$medium-breakpoint: 900px;
$small-breakpoint: 600px;
$tiny-breakpoint: 374px;

@import "../node_modules/bulma-block-list/src/block-list.scss";
@import "_variables";
@import "layout";
@import "hero";
@import "syntax";
@import "showcase";
@import "api";
@import "tabs";
@import "buttons";
@import "notifications";
@import "menu-bar";
@import "page-toc";
@import "navbar";
@import "footer";
@import "blogs";
@import "homepage";
@import "callout";


.gh-sponsor {
  color: #ea4aaa;
}





.index_release {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}