.side-toc-menu {
  width: 100%;
  display: none;
  padding-top: 36px;

  @media screen and (min-width: $medium-breakpoint) {
    display: flex;
    width: 200px;
    max-width: 200px;
  }

  @media screen and (min-width: $max-breakpoint) {
    display: flex;
    width: 232px;
    max-width: 232px;
  }

  .page-toc {
    background-color: unset !important;
    border: unset !important;
  }

  .level-2 {
    margin: 5px 0 0 5px;
  }

  a {
    font-size: 14px;
    font-weight: normal;
  }
}

.page-toc {
  padding: 16px 10px 5px 20px;
  border-radius: 6px;
  border: solid 1px #b6b6b6;
  background-color: #f7f7f7;
  margin-bottom: 32px;

  @media screen and (max-width: $medium-breakpoint) {
    display: none;
  }

  .content-label {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #303236;
    margin-bottom: 10px;
  }

  .menu-item {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #303236;
  }

  li {
    padding-bottom: 10px;
  }

  ul {
    &.menu-root-item {
      li {
        border-left: unset;
      }
    }
  }

  .menu-list {
    a {
      padding: unset;
    }

    li {
      border-left: 1px solid #b6b6b6;
    }
  }
}