name: Lint Codebase

on:
  pull_request:

permissions:
  contents: read
  packages: read
  statuses: write

jobs:
  lint:
    name: Lint Codebase
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Go 1.21.x
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
          cache-dependency-path: ${{ github.workspace }}/src/go.sum

      - name: Clean and Tidy
        working-directory: ${{ github.workspace }}/src
        run: |
          go clean -modcache
          go mod tidy

      - name: Build
        working-directory: ${{ github.workspace }}/src
        run: go build -v ./...

      - name: Lint Codebase
        id: super-linter
        uses: super-linter/super-linter/slim@v6.0.0
        env:
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: bin/**/*
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_JSCPD: false
          VALIDATE_CHECKOV: false
