name: Pull Request

on:
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup Go 1.21.x
        uses: actions/setup-go@v4
        with:
          go-version-file: ${{ github.workspace }}/src/go.mod
          cache: true
          cache-dependency-path: ${{ github.workspace }}/src/go.sum
      - name: Install dependencies
        working-directory: ${{ github.workspace }}/src
        run: |
          go get .
      - name: Download modules
        working-directory: ${{ github.workspace }}/src
        run: |
          go mod download
      - name: Build
        working-directory: ${{ github.workspace }}/src
        run: go build -v ./...

      - name: Test
        working-directory: ${{ github.workspace }}/src
        run: |
          go install github.com/axw/gocov/gocov@latest
          go install github.com/AlekSi/gocov-xml@latest
          go install github.com/matm/gocov-html/cmd/gocov-html@latest

          go test -coverprofile coverage.txt -covermode count -v ./...
          gocov convert coverage.txt | gocov-xml > ../cobertura-coverage.xml
      
      - name: Upload Code Coverage
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage
          path: ${{ github.workspace }}/cobertura-coverage.xml

      - name: Code Coverage Summary Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: cobertura-coverage.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: false
          indicators: true
          output: both
          thresholds: '40 80'
          
      - name: Add Coverage PR Comment
        if: false  
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-no-fail -fmt sarif -out results.sarif ./...'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif

      - name: Build Helm Chart
        run: |
          helm lint ./helm
          make build-helm-chart